<ion-view title="ATTENDEES" class="attendeesPage" ng-style="loading ? { 'background':'#000' } : { 'background': '#fff' }">
  <ion-content padding="false" class="has-header" delegate-handle="content" overflow-scroll="true" style="width:90%">
    <div id="cover" ng-show="loading">
      <div style="color:#fff;text-align:center;">LOADING</div>
      <div style="margin:100px auto;width:10px;height:100%;">
        <ion-spinner></ion-spinner>
      </div>
    </div>


    <div class="creator-container"></div>
    <div>
      <div class="attendeeSearch">
        <div class="list">
          <label class="item item-input" style="background:#003b4a;color:#fff;">
            <input type="text" placeholder="Search list of attendees" style="background:#fff;color:ccc;" ng-model="filters.search">
            <i class="icon ion-search placeholder-icon" style="padding-right:20px;"></i>
          </label>
        </div>

      </div>

      <div class="searchList">
        <span class="sort">SORT BY</span>
        <span class="searchFirst" ng-click="sortLast=false">FIRST NAME</span>
        <span class="searchLast" ng-click="sortLast=true">LAST NAME</span>
        <ion-list>
          <div class="attendeeHeader">
            <i class="icon ion-heart attendeeIcon" style="color:red;"></i>
            FAVORITES
          </div>

          <duv class="favorites" id="favorites">
            <ion-item ng-repeat="a in attendees | orderBy:'name'| filter:filters.search" ng-show="storage[a.id]">
              <div class="attendeeWrapper">
                <div class="attendeeName">{{a.title_plain}}</div>
                <div class="attendeeTitle">{{a.custom_fields.title[0]}}</div>
                <div class="attendeeTitle">{{a.custom_fields.company[0]}}</div>

                <ion-option-button class="button-positive btnSwipe" ng-click="clearFavorite(a.id)">
                  Clear
                </ion-option-button>
              </div>
            </ion-item>
          </duv>
          <div ng-repeat="letter in alphabet">
            <div class="attendeeHeader" id="{{letter}}">{{letter}}</div>
            <ion-item ng-repeat="a in attendees | orderBy:'name'| filter:filters.search" ng-show="a.title_plain.charAt(0)==letter" ng-if="!sortLast">
              <div class="attendeeWrapper">
                <div class="attendeeName">{{a.title_plain}}</div>
                <div class="attendeeTitle">{{a.custom_fields.title[0]}}</div>
                <div class="attendeeTitle">{{a.custom_fields.company[0]}}</div>

                <ion-option-button class="button-positive" ng-click="favorite(a.id)">
                  Favorite
                </ion-option-button>
              </div>
            </ion-item>
            <ion-item ng-repeat="a in attendees | orderBy:'name'| filter:filters.search" ng-show="a.title_plain.split(' ')[1].charAt(0)==letter" ng-if="sortLast">
              <div class="attendeeWrapper">
                <div class="attendeeName">{{a.title_plain}}</div>
                <div class="attendeeTitle">{{a.custom_fields.title[0]}}</div>
                <div class="attendeeTitle">{{a.custom_fields.company[0]}}</div>

                <ion-option-button class="button-positive" ng-click="favorite(a.id)">
                  Favorite
                </ion-option-button>
              </div>
            </ion-item>
          </div>

        </ion-list>

      </div>




    </div>
  </ion-content>
  <div class="letterSearch" ng-hide="loading">
    <div>
      <i class="icon ion-heart" style="color:red;font-size:18px;" ng-click="scrollTo('favorites');"></i>
    </div>
    <div ng-repeat="a in alphabet">
      <span style="text-decoration:none;color:#000;" ng-click="scrollTo(a)">{{a}}</span>
    </div>
  </div>

</ion-view>