<ion-view title="EVALUATIONS">
  <!--<ion-content padding="false" scroll="false" class="has-header">-->

  <ion-content scroll="true" overflow-scroll="true" class="has-header iframe-wrapper">

    <ion-scroll class="top-container" style="padding:10px">
      <p style="text-align:center;margin-top:30px;">
        Please click the button below to open and complete the Evaluation Form</p>
      <p style="text-align:center;margin-top:30px;">
        <button ion-button="" large="" ng-click="gotoLink('https://www.trusteducationfoundation.com/evaluation-form/')">Open Evaluation Form</button>
      </p>

      <!--<iframe src="https://www.trusteducationfoundation.com/evaluation-form/" frameborder="0" width="100%" height="100%" scrolling="yes"></iframe>-->
    </ion-scroll>

    <div class="bottom-container">


      <div class="button-bar">

        <a ui-sref="nETWORKINGEVENTS" style="font-size:8px;border-radius:0px 0px 0px 0px;" class="button button-dark  btnb1" href="#/page17"></a>
        <a ui-sref="cONFERENCEFEED" style="font-size:9px;border-radius:0px 0px 0px 0px;" class="button button-dark  btnb2" href="#/page13"></a>
        <a ui-sref="pRESENTATIONS" style="font-size:8px;border-radius:0px 0px 0px 0px;" class="button button-dark btnb3" href="#/page11"></a>
        <a ui-sref="eVALUATIONS" style="font-size:8px;border-radius:0px 0px 0px 0px;" class="button button-dark  btnb4" href="#/page14"></a>
      </div>




    </div>
  </ion-content>
</ion-view>