<ion-view title="EVENT OVERVIEW" class="eventPage">
  <!--<ion-scroll>-->
  <ion-content padding="false" class="manual-remove-top-padding has-header" scroll="false" overflow-scroll="true">

    <div id="cover" ng-show="loading">
      <div style="color:#fff;text-align:center;">LOADING</div>
      <div style="margin:100px auto;width:10px;height:100%;">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <ion-scroll class="top-container">
      <div ng-bind-html="overview.content" style="padding:10px;"></div>
    </ion-scroll>


    <div class="bottom-container">
      <div class="button-bar">
        <a ui-sref="nETWORKINGEVENTS" style="border-radius:0px 0px 0px 0px;" class="button button-dark  btnb1"></a>
        <a ui-sref="cONFERENCEFEED" style="border-radius:0px 0px 0px 0px;" class="button button-dark  btnb2"></a>
        <a ui-sref="pRESENTATIONS" style="border-radius:0px 0px 0px 0px;" class="button button-dark  btnb3"></a>
        <a ui-sref="eVALUATIONS" style="border-radius:0px 0px 0px 0px;" class="button button-dark  btnb4"></a>
      </div>
    </div>
  </ion-content>
</ion-view>