<ion-view title="SPEAKERS" cache-view="false">
  <ion-content padding="false" class="has-header" overflow-scroll="true">

    <div id="cover" ng-show="loading">
      <div style="color:#fff;text-align:center;">LOADING</div>
      <div style="margin:100px auto;width:10px;height:100%;">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <ion-scroll class="top-container">

      <div class="speaker_pic">
        <img src="{{ speaker.thumbnail_images.full.url }}" style="display: block; width: 180px; height: 180px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="speaker_name">
        <div>
          <div style="text-transform:uppercase">{{ speaker.title_plain }}</div>
          <div style="color:#fff;">{{ speaker.custom_fields.title[0] }}</div>
          <div style="color:#fff;">{{ speaker.custom_fields.company[0] }}</div>
        </div>
      </div>
      <div class="speaker_bio">
        <div>
          <div ng-bind-html="speaker.content"></div>
          <div ng-show="count>0" style="color:#fff;margin-bottom:5px;">PRESENTATIONS:</div>
          <div ng-repeat="p in speaker.attachments">
            <div ng-if="p.caption=='p'">

              <a ng-click="gotoLink(p.url)">
                <!--ui-sref="pRESENTATIONS2({'page': p.url})"-->
                <div class="sIcon"></div>
                <div class="sTitle">
                  {{p.title}}
                </div>
              </a>
              <br clear="all">


            </div>
          </div>
        </div>
      </div>
    </ion-scroll>
    <div class="bottom-container" style="background:#231F20;color:#fff;">
      <div style="float:left;font-size: 36px;margin: 12px 21px;" class="ion-chevron-left" ng-click="goBack(id)" ng-hide="c==0"></div>
      <div style="float:right;font-size: 36px;margin: 12px 21px;" class="ion-chevron-right" ng-click="goForward(id)" ng-hide="b==0"></div>
    </div>
  </ion-content>
</ion-view>