 <ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top tab-container">
    <ion-tab class="btn-tab-networking-events" href="#/app/tab/home">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab class="btn-tab-networking-events" href="#/app/tab/networkingEvents">
      <ion-nav-view name="tab-networkingEvents"></ion-nav-view>
    </ion-tab>
    <ion-tab class="btn-tab-conference-feed" href="#/app/tab/conferenceFeed">
      <ion-nav-view name="tab-conferenceFeed"></ion-nav-view>
    </ion-tab>
    <ion-tab class="btn-tab-presentations" href="#/app/tab/presentations">
      <ion-nav-view name="tab-presentations"></ion-nav-view>
    </ion-tab>
    <ion-tab class="btn-tab-evaluations" href="#/app/tab/evaluations">
      <ion-nav-view name="tab-evaluations"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view> 
