<ion-view title="CONFERENCE FEED">
  <ion-content padding="false" class="manual-remove-top-padding">

    <ion-list>
      <div ng-repeat="confDay in confDays">
        <ion-item class="item item-body bgList agendaMain" ng-class="{menuactive: confDay.isToday}"  ng-if="confDay.dayObj.day">
          {{confDay.dayObj.day}}
        </ion-item>
        <ion-item class="item-accordion item-nowrap-disable" ng-repeat="message in confDay.messages" ng-if="message.message">
          <div class="item item-icon-left conferenceFeed item-text-wrap" ng-if="message.message">
            <i class="icon unread ion-record" ng-if="message.isSeen == false"></i>
            <i class="icon ion-ios-contact"></i>
            <span class="confAuthor">{{message.author}}</span>
            <span class="confText"> {{message.time}}
              <br> {{message.message}}
            </span>
          </div>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>