<ion-view title="CONFERENCE FEED">
  <ion-content padding="false" class="manual-remove-top-padding">

    <ion-list>
      <div ng-repeat="confDay in confDays">
        <ion-item class="item item-body bgList agendaMain" ng-click="toggleGroup(confDay)" ng-class="{menuactive: isGroupShown(confDay)}"  ng-if="confDay.dayObj.day">
          <i class="icon agendaMain" ng-class="isGroupShown(confDay) ? 'ion-chevron-down' : 'ion-chevron-right'" style="float:right"></i>
          &nbsp;
          {{confDay.dayObj.day}}
        </ion-item>
        <ion-item class="item-accordion item-nowrap-disable" ng-repeat="message in confDay.messages" ng-show="isGroupShown(confDay)" ng-if="message.message">
          <div class="item item-icon-left conferenceFeed item-text-wrap" ng-if="message.message">
            <i class="icon ion-ios-contact"></i>
            <span class="confAuthor">{{message.author}}</span>
            <span class="confText"> {{message.time}}
              <br> {{message.message}}
            </span>
          </div>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>