<ion-view title="EVALUATIONS">
  <!--<ion-content padding="false" scroll="false" class="has-header">-->

  <ion-content scroll="true" overflow-scroll="true" class="has-header iframe-wrapper">

    <ion-scroll class="top-container" style="padding:10px">
      <p style="text-align:center;margin-top:30px;">
        Please click the button below to open and complete the Evaluation Form</p>
      <p style="text-align:center;margin-top:30px;">
        <button ion-button="" large="" ng-click="gotoLink('https://www.trusteducationfoundation.com/evaluation-form/')">Open Evaluation Form</button>
      </p>
    </ion-scroll>
  </ion-content>
</ion-view>