<ion-view title="Home" hide-nav-bar="true" style="background-color:#003C4D;" class="home_page">
  <ion-content padding="false" class="manual-remove-top-padding" scroll="false">

    <div class="home_top">
      <div class="buttons buttons-left header-item" style="transition-duration: 0ms;">
        <span class="left-buttons">
          <button class="button button-icon ion-navicon" menu-toggle="left" style="color:#fff;font-size:36px;"></button>
        </span>
      </div>
    </div>
    <div class="home_events">
      <div style="color:#fff;text-align:center;">
        <span style="color:#FBAD17;font-weight:bold;"> {{current.date}} </span>
        <br><br>
        <span style="font-weight:bold;"> {{current.time}} </span>
        <br> 
        <span style="font-weight:bold;">{{current.sessionTitle}}</span>
        <br> 
        <span style="font-style: italic">{{current.roomLocation}}</span>
        <br><br> 
        <span>{{current.speakerNameAndTitle}}</span>
      </div>
    </div>
    <div class="home_sponsor creator-container"></div>

  </ion-content>
</ion-view>