<ion-view title="NETWORKING EVENTS">
  <ion-content padding="false" class="manual-remove-top-padding">

    <ion-list>
      <div ng-repeat="d in desc">
        <ion-item class="item item-body bgList agendaMain" ng-click="toggleGroup(d)" ng-class="{menuactive: isGroupShown(d)}">
            <i class="icon agendaMain" ng-class="isGroupShown(d) ? 'ion-chevron-down' : 'ion-chevron-right'" style="float:right"></i>
          &nbsp;
          {{d.day}}
        </ion-item>
        <ion-item class="item-accordion item-nowrap-disable" ng-repeat="e in d.events" ng-show="isGroupShown(d)" ng-if="e.networking_event[0]!==''">
          <div style="font-size:12px;padding:10px 10px 0 10px;">{{e.time | htmlToPlaintext}}</div>
          <div style="font-size:12px;padding:0 10px 10px 10px;" ng-bind-html="e.description"></div>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>