<ion-view title="PRESENTATIONS">
  <ion-content padding="false" class="manual-remove-top-padding">

    <ion-list>
      <div ng-repeat="d in desc">
        <ion-item class="item item-body bgList agendaMain" ng-click="toggleGroup(d)" ng-class="{menuactive: isGroupShown(d)}" >
            <i class="icon agendaMain" ng-class="isGroupShown(d) ? 'ion-chevron-down' : 'ion-chevron-right'" style="float:right"></i>
          &nbsp;
          {{d.mTitle}}
        </ion-item>
        <ion-item class="item-accordion" ng-repeat="e in d.events" ng-show="isGroupShown(d)" style="white-space:normal">
          <a ng-click="gotoLink(e.file)">
            <div class="pIcon"></div>
            <div class="pTitle">
              {{e.title}}
            </div>
          </a>
          <br clear="all">
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>