<ion-view title="AGENDA" style="background-color:#545456;">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">

    <div id="cover" ng-show="loading">
      <div style="color:#fff;text-align:center;">LOADING</div>
      <div style="margin:100px auto;width:10px;height:100%;">
        <ion-spinner></ion-spinner>
      </div>
    </div>

    <ion-scroll class="top-container">
      <ion-list ng-repeat="d in desc">
        <div class="item item-body bgList" ng-class="{'menuactive':isGroupShown(d)}" ng-click="toggleGroup(d)">
          <div>
            <div class="agendaMain" style="float:left">{{d.day}}</div>
            <div class="agendaMain" ng-class="!isGroupShown(d) ? 'ion-chevron-right':'ion-chevron-down'" style="float:right"></div>
          </div>
        </div>
        <div class="item item-body" ng-repeat="e in d.events" ng-show="isGroupShown(d)">
          <div>
            <div style="font-size:14px;">{{e.time | htmlToPlaintext}}</div>
            <div style="font-size:14px;" ng-bind-html="e.description"></div>
          </div>
        </div>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>