<ion-view title="ATTENDEES" class="attendeesPage" ng-style="loading ? { 'background':'#000' } : { 'background': '#fff' }">
  <ion-content padding="false" class="has-header" delegate-handle="content" overflow-scroll="true">
    <div id="cover" ng-show="loading">
      <div style="color:#fff;text-align:center;">LOADING</div>
      <div style="margin:100px auto;width:10px;height:100%;">
        <ion-spinner></ion-spinner>
      </div>
    </div>


    <div class="creator-container"></div>
    <div>
      <div class="attendeeSearch">
        <div class="list">
          <label class="item item-input" style="background:#003b4a;color:#fff;">
            <input type="text" placeholder="Search list of attendees" style="background:#fff;color:ccc;" ng-model="filters.search">
            <i class="icon ion-search placeholder-icon" style="padding-right:20px;"></i>
          </label>
        </div>

      </div>

      <div class="searchList">
        <div style="height:40px">
          <div class="sort">
            <span class="filter-text">SORT BY:</span>
          </div>
          <div class="searchFirst" ng-click="sortLast=false" ng-class="{sortInactive: sortLast}">
            <span class="filter-text">FIRST NAME</span>
          </div>
          <div class="searchLast" ng-click="sortLast=true" ng-class="{sortInactive: !sortLast}">
            <span class="filter-text">LAST NAME</span>
          </div>
        </div>
        <ion-list>
          <div class="attendeeHeader">
            <i class="icon ion-heart attendeeIcon" style="color:red;"></i>
            FAVORITES 
            <span style="font-size:10px">(swipe left</span>
            <i class="fa fa-angle-double-left"></i>
            <span style="font-size:10px">to add as favorite)</span>
          </div>

          <duv class="favorites" id="favorites">
            <ion-item ng-repeat="a in attendees | orderBy:'title_plain'| filter:filters.search" ng-show="storage[a.id]">
              <div class="attendeeWrapper">
                <i class="fa fa-angle-double-left" style="float:right"></i>
                <div class="attendeeName">{{a.title_plain}}</div>
                <div class="attendeeTitle">{{a.custom_fields.title[0]}}</div>
                <div class="attendeeTitle">{{a.custom_fields.company[0]}}</div>

                <ion-option-button class="button-positive btnSwipe" ng-click="clearFavorite(a.id)">
                  Clear
                </ion-option-button>
              </div>
            </ion-item>
          </duv>
          <!--<div ng-repeat="letter in alphabet">-->
          <div class="attendeeHeader" style="padding-left:47px;">ATTENDEES</div>
          <ion-item ng-repeat="a in attendees | orderBy:'sort_first' | filter:filters.search" ng-if="!sortLast">
            <div class="attendeeWrapper">
              <i class="fa fa-angle-double-left" style="float:right"></i>
              <div class="attendeeName">{{a.title_plain}}</div>
              <div class="attendeeTitle">{{a.custom_fields.title[0]}}</div>
              <div class="attendeeTitle">{{a.custom_fields.company[0]}}</div>

              <ion-option-button class="button-positive" ng-click="favorite(a.id)">
                Favorite
              </ion-option-button>
            </div>
          </ion-item>
          <ion-item ng-repeat="a in attendees | orderBy:'sort_last' | filter:filters.search" ng-if="sortLast">
            <div class="attendeeWrapper">
              <i class="fa fa-angle-double-left" style="float:right"></i>
              <div class="attendeeName">{{a.title_plain}}</div>
              <div class="attendeeTitle">{{a.custom_fields.title[0]}}</div>
              <div class="attendeeTitle">{{a.custom_fields.company[0]}}</div>

              <ion-option-button class="button-positive" ng-click="favorite(a.id)">
                Favorite
              </ion-option-button>
            </div>
          </ion-item>
          <!--</div>-->

        </ion-list>

      </div>

    </div>
  </ion-content>

</ion-view>