.platform-ios .manual-ios-statusbar-padding{
  padding-top:20px;
}
.manual-remove-top-padding{
  padding-top:0px; 
}
.manual-remove-top-padding .scroll{
  padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
  margin-left:-10px;
  margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
  border-radius:0px;
  border-left:0px;
  border-right: 0px;
}
.show-list-numbers-and-dots ul{
  list-style-type: disc;
  padding-left:40px;
}
.show-list-numbers-and-dots ol{
  list-style-type: decimal;
  padding-left:40px;
}


.list .item.item-accordion {
  line-height: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0s all linear; }

.list .item.item-accordion.ng-hide {
  line-height: 0px; }

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important; }

.item-nowrap-disable{
  white-space: normal;
}

.bottom-selector {
  position: absolute;
  bottom: 60px;
  display: block;
  width: 100%;
  height: 60px;
  background-color: white; }

.has-bottom-selector {
  bottom: 120px !important;
}

.platform-android .home_page .scroll-content{
  top: 0px;
}

.tab-content .has-tabs-top{
  bottom: 60px;
} 

.tab-item-active {
  background-color: #ED7526 !important;
}

.unread{
  left: 0px !important;
  overflow: hidden;
  font-size: 10px !important;
  color: #721A1A;
  top: -13px !important;
}

.badge {
  color: white !important;
  background: #7B2929 !important;
  bottom: 5%;
  top: auto !important;
}
.menuLogoImg{
  width: 95%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.filter-text{
  position: relative;
  top: 10px;
}